@model ShirlyStudio.Models.CustomerRegistration

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}
<script src="~/css/site.css"></script>
<h2>מחיקת רישום</h2>

<h3> האם ברצונך למחוק רישום לסדנה זו עבור לקוח זה?</h3>

<div class="delete-customer">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workshop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerRegistrationId" />
        <input type="submit" value="מחק רישום" class="btn btn-default" /> |
        <a asp-action="Index">חזרה לרשימת הרישומים</a>
    </form>
</div>
