<!DOCTYPE html>
<html>
<head>


    <!--Google Font for navbar-->
    <link href="https://fonts.googleapis.com/css?family=Secular+One&amp;subset=hebrew" rel="stylesheet">

    <link href='~/css/fullcalendar.css' rel='stylesheet' />
    <link href='~/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='~/js/jquery.min.js'></script>
    <script src='~/js/jquery-ui.min.js'></script>
    <script src='~/js/moment.min.js'></script>
    <script src='~/js/fullcalendar.js'></script>
    <script>jq223 = jQuery.noConflict(false)</script>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShirlyStudio</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/creative.css" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>


<body>
    <header class="text-center text-black-50 d-flex">
        <div class="container my-auto">
            <div class="row">
            </div>
        </div>
        <div class="container my-auto">
            <div class="row">
            </div>
        </div>
    </header><!--Google Font for navbar-->
    <link href="https://fonts.googleapis.com/css?family=Secular+One&amp;subset=hebrew" rel="stylesheet">

    <link href='~/css/fullcalendar.css' rel='stylesheet' />
    <link href='~/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='~/js/jquery.min.js'></script>
    <script src='~/js/jquery-ui.min.js'></script>
    <script src='~/js/moment.min.js'></script>
    <script src='~/js/fullcalendar.js'></script>
    <script>jq223 = jQuery.noConflict(false)</script>
    <nav class="navbar navbar-inverse" id="mainNav">
        <div class="container-fluid">
            <!--Navbar Header Start Here-->
            <div class="navbar-header">
                <a href="../home">
                    <img data-type="image" src="/img/logo.png" id="logo-home">
                    </a>
            </div>
            <!--Navbar Header End Here-->
            <!--Menu Start Here-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Home/Index">דף הבית</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
            <!--Menu End Here-->
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <!-- Plugin JavaScript -->
            <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/vendor/scrollreveal/scrollreveal.min.js"></script>
            <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
            <!-- Custom scripts for this template -->
            <script src="~/js/creative.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <!-- Plugin JavaScript -->
            <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/vendor/scrollreveal/scrollreveal.min.js"></script>
            <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
            <!-- Custom scripts for this template -->
            <script src="~/js/creative.min.js"></script>
        </environment>
        @RenderSection("Scripts", required: false)
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer id="copyright">
                <p>&copy; 2018 - שירלי מרכז אומנויות</p>
            </footer>
        </div>
    </div>
</body>
</html>
