
#header{
    color:darkolivegreen;
    margin-top: inherit;
    padding-top: 112px;
    text-align: center;
}

ul {
    text-align: center;
    text-align:right;
}
body
{
    margin-bottom:auto;
}



