body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.btn btn-link navbar-btn navbar-link {
    margin-top: -10px;
    font-weight: 1000;
    color: black;
    font-size: 22px;
    font-family: 'Secular One', sans-serif;
}

#logo {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

#filter-button {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: pink;
    color:black;
    font-size: 18px;
    width: 10%;
    border-radius:6px;
}

#copyright {
    text-align: center;
}

#logo-home {
    width: 150px;
    height: 100px;
}

.control-label {
    font-size:18px;
    width: 100%;
text-align:center;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position: static;
    left: 25%;
}
#contact {
    background-color: #c6c3c3;
}
#yao{
    color:red;
}

.no-pad{
    padding:0px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#login {
    margin-top: -10px;
    font-weight: 1000;
    color: black;
    font-size: 22px;
    font-family: 'Secular One', sans-serif;
}

#first-login{
    width: 100%;
}

.delete-customer{
    width:100%;
}
